<div class="header">
	<span>{{ printedMonth }}</span> &nbsp
	<button type="button" class="btn btn-default" ng-click="previousMonth()"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
	<button type="button" class="btn btn-default" ng-click="nextMonth()"><i class="fa fa-chevron-right" aria-hidden="true" ></i></button>
</div>
<nav class="navbar navbar-default">
<div class="container-fluid">
<form class="navbar-form navbar-left" ng-submit="submit()">
	<label>Go To :</label>
    <select class="form-control" ng-options="item for item in months" ng-model="selectedMonth" placeholder="Month" ng-change="submit()">
	</select>
	<select class="form-control" ng-options="item for item in years" ng-model="selectedYear" placeholder="Year" ng-change="submit()">
	</select>
</form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/monthly">Month</a></li>
      <li><a href="#/weekly">Week</a></li>
    </ul>
  </div>
</nav>
<table class="table table-bordered">
		<thead>
			<tr>
				<th id="acadWeekHeader">{{semester}}</th>
				<th id="daysHeader" ng-repeat="day in daysInWeek">
					{{ day }}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="days" ng-repeat="week in daysArray">
				<td class="acadWeek" dragula='"second-bag"' dragula-scope="$parent">{{weeksArray[$index]}}</td>
				<td id="{{day}}" ng-repeat="day in week track by $index" ng-class="{'greyOut':isNumber(day), 'highlight':isString(day)}" ng-click="check(day)" dragula='"second-bag"' dragula-scope="$parent">
					<div ng-show="isString(day) == true">{{day}}</div>
					<div ng-show="isNumber(day) == true">{{day}}</div>
					<ul class="list-group">
				        <div ng-repeat="activity in activitiesmonth | filter: {activityDate: day} : true" ng-switch="activity.activityType" dragula='"second-bag"'>
					        <li class="list-group-item list-group-item-warning" ng-switch-when="Quiz and Exam" id="{{ activity.activityID }}" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()">
								<span class="activitynames">{{activity.activityName}}</span>
								<span class="datetimes">{{activity.activityTime}}</span>
							</li>
							<li class="list-group-item list-group-item-danger" ng-switch-when="Assignment Deadline" id="{{ activity.activityID }}" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()">
								<span class="activitynames">{{activity.activityName}}</span>
								<span class="datetimes">{{activity.activityTime}}</span>
							</li>
							<li class="list-group-item list-group-item-success" ng-switch-when="CCA Activity" id="{{ activity.activityID }}" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()">
								<span class="activitynames">{{activity.activityName}}</span>
								<span class="datetimes">{{activity.activityTime}}</span>
							</li>
							<li class="list-group-item list-group-item-info" ng-switch-when="Leisure Activities and Other" id="{{ activity.activityID }}" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()">
								<span class="activitynames">{{activity.activityName}}</span>
								<span class="datetimes">{{activity.activityTime}}</span>
							</li>
				        </div>
			        </ul>
				</td>
			</tr>
		</tbody>
</table>
<div id="trashcan" dragula='"second-bag"'>
    <img src="trashcan.png" height="122" width="102" ng-show="trash">
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3>{{printDate}}</h3>
    </div>
        <div class="modal-body">
        <a href="#" ng-click="addActivity = !addActivity" class="btn btn-link">Add Activity <i class="fa fa-plus" aria-hidden="true" ng-show="!addActivity"></i><i class="fa fa-minus" aria-hidden="true" ng-show="addActivity"></i></a><br>
        	<form ng-show="addActivity" id="addActivityMonthForm">
        		  <div class="form-group">
				      <label for="activityname">Activity name:</label>
				      <input type="text" class="form-control" data-ng-model="activityname" name="activityName" id="activityName" placeholder="Enter activity name"><br>
				      <label for="sel1">Select activity type:</label>
				      <select class="form-control" id="sel1" data-ng-model="activitytype" name="activityType">
				        <option><span class="quizexam">Quiz and Exam</span></option>
				        <option><span class="assignment">Assignment Deadline</span></option>
				        <option><span class="cca">CCA Activity</span></option>
				        <option><span class="other">Leisure Activities and Other</span></option>
				      </select><br>
				      <input type="hidden" class="form-control" id="date" data-ng-model="momentClicked" name="date">
			      	  <label for="time">Time:</label>
			      	  <div class="input-group bootstrap-timepicker timepicker">
	            		  <input id="timepicker1" type="text" class="form-control input-small" data-ng-model="hour" name="time">
	            		  <span class="input-group-addon">
	            		  	<i class="glyphicon glyphicon-time" popover-placement="right" uib-popover-template="popover.html"></i>
	            		  </span>
       				  </div>
		          </div>
			      <input type="submit" class="btn btn-success btn-sm" ng-click="saveActivity()" value="Save Activity!" name="saveActivity">	
            </form>
      	</div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
</script>
<script type="text/ng-template" id="popover.html">
	<div class="timepicker" uib-timepicker data-ng-model="$parent.mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
</script>