body{
	font-family: Verdana;
}
#wrapper{
	background-size: cover;
	background-position: center;
	background-image: url("gaussian.jpg");
	background-repeat: no-repeat;
	min-height: 100%;
  	min-width: 1024px;
  	width: 100%;
  	height: auto;
  	position: fixed;
  	top: 0;
  	left: 0;
}
#logintop{
	margin-top:30px;
}
#signIn{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.form-group{
	text-align: left;
	font-family: 'Roboto', sans-serif;
}
#loginbox{
	width: 400px;
	height: 300px;
	background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.currentDay{
	background-color: rgba(7, 136, 155,0.2);
}
.days{
	height:150px;
	margin:0px;
    padding:0px;
    overflow: hidden;
    font-family: helvetica;
}
.date{
	font-size: 11px;
	font-weight: normal;
}
.header{
	height:70px;
	text-align: center;
	line-height:70px;
	font-size: 20px;
	background-color: #07889B;
	color: white;
	border-bottom-color: #07889B;
	font-family: helvetica;
}
.btn.btn-warning{
	float: right;
	clear: both;
	margin-top:10px;
	margin-right: 10px;
}
.ntuweek{
	font-size: 13px;
}
#daysHeader{
	border-left: none;
	border-right: none;
	font-family: helvetica;
}
.highlight{
	text-align: right;
    width:12%;
    font-family: helvetica;
}
.highlight:hover{
	cursor: pointer;
}
.fa-chevron-left{
	margin-right: 5px;
}
.fa-chevron-right{
	margin-left: 5px;
}
.acadWeek{
	border:none;
	font-size: 12px;
	background-color: #F5F5F5;
	font-family: helvetica;
}
#acadWeekHeader{
	font-size: 12px;
	border-collapse:collapse;
	margin: 0px;
	background-color: #F5F5F5;
	width: 6%;
	font-family: helvetica;
	background-color: white;
}
.greyOut{
	background-color: #f2f2f2;
	text-align: right;
	opacity: 0.2;
}
.fa-plus{
	color: green;
}
.fa-minus{
	color: green;
}
.modal-header{
	background-color: #07889B;
	color: white;
	height: 75px;
	line-height: 95px;
}
.timepicker{
	width:150px;
}
.navbar-default{
	font-size: 12px;
	height: 8px;
	overflow: hidden;
	margin: 0;
	background-color: white;
}
.navbar-default ul{
	margin: 0;
}
.navbar-default li:hover{
	background-color: #F5F5F5;
}
.input-group-addon:hover{
	cursor: pointer;
}
.activitynames{
	font-size: 10px;
	margin: 0px;
	float:left;
}
.datetimes{
	font-size: 10px;
	margin: 0px;
	float: left;
}
.list-group-item.list-group-item-warning, .list-group-item.list-group-item-danger, 
.list-group-item.list-group-item-success, .list-group-item.list-group-item-info{
	display: inline-block;
	width: 100%;
	height: 45px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 2px;
}.trash:hover{
	cursor: pointer;
}
#trash{
	float: right;
}
#trash:hover{
	cursor:pointer;
}
.daysWeekly{
	height: 50px;
	width: 10%;
	background-color: white;
	border: 1px solid black;
}
.currentDayinWeek{
	height: 50px;
	width: 10%;
	background-color: rgba(7, 136, 155,0.2);
	border: 100px solid black;
}
#addActivityWeekly{
	height: 35px;
}
#addActivityWeekly:hover{
	background-color: #f2f2f2;
	cursor: pointer;
}
.modal-body ul li{
	margin-bottom:10px;
}
.modal-body{
	padding: 20px;
}
.modal-content {
	border-radius: 8px;
}
nav .form-control{
	margin-top:6px;
	height: 25px;
	font-size: 11px;
}
.form-control{
	height: 30px;
}
#addActivityMonthForm label{
	font-size: 13px;
}
.hoursColumntd{
	text-align: right;
	width: 4%;
	border:none;
	font-size: 12px;
	font-family: helvetica;
}
.daysWeekly:hover{
	cursor: pointer;
}
.col-md-5{
	padding:0 ;
}
.list-group{
	margin:0;
	padding: 0;
}
.list-group.fa-ul{
	margin:0;
	position: relative;
	width: auto;
}
.taskname{
	font-size: 11px;
	margin-left: 10px;
}
.fa-li{
	margin-left: 28px;
	margin-top: 10px;
}
.list-group-item.urgent{
	background-color: #E37222;
	color: white;
	padding-bottom: 0px;
	position: absolute;
	width: 152px;
	display:inline-block;
}
.list-group-item.important{
	background-color: #66B9BF;
	color: white;
	padding-bottom: 0px;
	position: absolute;
	width: 152px;
	display:inline-block;
}
.list-group-item.disabled{
	padding-bottom: 0px;
	position: absolute;
	width: 152px;
	display:inline-block;
}
.list-group-item.normal{
	background-color: #F7B733;
	color: white;
	padding-bottom: 0px;
	position: absolute;
	width: 152px;
	display:inline-block;
}
#markcomplete{
	font-weight: normal;
	margin:0;
}
#completebtn{
	margin-top: 0px;
}
#test{
	margin:0;
	margin-bottom: 0;
}
#formcomplete{
	padding: 0;
}
.urgent{
	background-color: #E37222;
}
.important{
	background-color: #66B9BF;
}
.normal{
	background-color: #FFCE00;
}
#save, #cancel{
	display:inline-block;
	margin: 0;
	margin-left:10px;
}
#enable{
	margin-top: 8px;
}