<div class="header">
	<span>{{ semester }}</span>&nbsp<span class="ntuweek">{{ ntuWeek }}</span>&nbsp
	<button type="button" class="btn btn-default" ng-click="prevWeek()"><i class="fa fa-chevron-left" aria-hidden="true" ></i></button>
	<button type="button" class="btn btn-default" ng-click="nextWeek()"><i class="fa fa-chevron-right" aria-hidden="true" ></i></button>
    <button type="button" class="btn btn-warning btn-sm" ng-click="logout()">Log Out</button>
</div>
<nav class="navbar navbar-default">
<div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/monthly">Month</a></li>
      <li><a href="#/weekly">Week</a></li>
    </ul>
  </div>
</nav>
<table class="table table-bordered">
    <tr>
        <td></td>
            <td id="daysHeader" ng-repeat="day in daysArray">
                {{ daysInWeek[$index] }} &nbsp<span class="date">{{day}}</span>
            </td>
    </tr>
		<tr ng-repeat="hour in hours">
			<td class="hoursColumntd" ng-class="{'night':isNight(hour), 'morning':!isNight(hour)}">{{hour}}<i class="fa fa-moon-o" aria-hidden="true" ng-if="isNight(hour)"></i></td>
			<td class="daysWeekly" ng-class="{'daysWeekly':!isCurrentDay(day), 'currentDayinWeek':isCurrentDay(day)}" id="{{ hour }}{{ day }}" ng-repeat="day in daysArray" ng-click="convert(day,hour)" droppable drop="handleDrop" bin="day">
            <ul
            class="list-group fa-ul" 
            ng-repeat="task in tasks | filter:filterDay(day)" 
            ng-switch="task.taskType"
            draggable item="task" id="{{ task.taskId }}_task"
            >
                <li 
                ng-class="{'list-group-item urgent' : task.done==0, 'list-group-item disabled' : task.done==1}"
                id="{{ task.taskId }}"
                ng-if="check1(task.startTime,hour)"
                ng-switch-when="urgent" 
                ng-style="{height: getStyle(task.duration)}" 
                ng-click="disable($event, task.taskId, task.done)" 
                uib-popover-template="popover.templateUrl" 
                popover-placement="top"
                popover-trigger="click">
                    <i class="fa-li fa fa-star" aria-hidden="true"></i><span class="taskname">{{task.taskName}}</span>
                    <span id="trash" ng-click="deleteTask(task.taskId, $event)" ng-if="!enabled"><i class="fa fa-trash" aria-hidden="true"></i></span><br>
                    <span class=taskTime>{{ task.startTime }}</span>
                </li>
                <li 
                ng-class="{'list-group-item important' : task.done==0, 'list-group-item disabled' : task.done==1}"
                id="{{ task.taskId }}"
                ng-if="check1(task.startTime,hour)"
                ng-switch-when="important" 
                ng-style="{height: getStyle(task.duration)}" 
                ng-click="disable($event, task.taskId, task.done)" 
                uib-popover-template="popover.templateUrl" 
                popover-placement="top"
                popover-trigger="click">
                    <i class="fa-li fa fa-exclamation-circle" aria-hidden="true"></i><span class="taskname">{{task.taskName}}</span>
                    <span id="trash" ng-click="deleteTask(task.taskId, $event)" ng-if="!enabled"><i class="fa fa-trash" aria-hidden="true"></i></span><br>
                    <span class=taskTime>{{ task.startTime }}</span>
                </li>
                <li 
                ng-class="{'list-group-item normal' : task.done==0, 'list-group-item disabled' : task.done==1}"
                id="{{ task.taskId }}"
                ng-if="check1(task.startTime,hour)"
                ng-switch-when="normal" 
                ng-style="{height: getStyle(task.duration)}" 
                ng-click="disable($event, task.taskId, task.done)" 
                uib-popover-template="popover.templateUrl" 
                popover-placement="top"
                popover-trigger="click">
                    <i class="fa-li fa fa-circle-o" aria-hidden="true"></i><span class="taskname">{{task.taskName}}</span> 
                    <span id="trash" ng-click="deleteTask(task.taskId, $event)" ng-if="!enabled"><i class="fa fa-trash" aria-hidden="true"></i></span><br>
                    <span class=taskTime>{{ task.startTime }}</span>
                </li>
            </ul>
            <ul class="list-group" ng-repeat="activity in activitiesmonth | filter:filterDate(day)" ng-switch="activity.activityType" draggable item="activity" id="{{ activity.activityID }}_activity">
                        <li class="list-group-item list-group-item-warning week" ng-switch-when="Quiz and Exam" id="{{ activity.activityID }}" ng-click="editActicity($event)" ng-if="check2(activity.activityTime,hour)">
                            <span class="trash" ng-click="deleteActivity(activity.activityID, $event)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            <span class="activitynames">{{activity.activityName}}</span><br>
                            <span class="datetimes">{{activity.activityTime}}</span>
                        </li>
                        <li class="list-group-item list-group-item-danger week" ng-switch-when="Assignment Deadline" id="{{ activity.activityID }}" ng-click="editActicity($event)" ng-if="check2(activity.activityTime,hour)">
                            <span class="trash" ng-click="deleteActivity(activity.activityID, $event)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            <span class="activitynames">{{activity.activityName}}</span><br>
                            <span class="datetimes">{{activity.activityTime}}</span>
                        </li>
                        <li class="list-group-item list-group-item-success week" ng-switch-when="CCA Activity" id="{{ activity.activityID }}" ng-click="editActicity($event)" ng-if="check2(activity.activityTime,hour)">
                            <span class="trash" ng-click="deleteActivity(activity.activityID, $event)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            <span class="activitynames">{{activity.activityName}}</span><br>
                            <span class="datetimes">{{activity.activityTime}}</span>
                        </li>
                        <li class="list-group-item list-group-item-info week" ng-switch-when="Leisure Activities and Other" id="{{ activity.activityID }}" ng-click="editActicity($event)" ng-if="check2(activity.activityTime,hour)">
                            <span class="trash" ng-click="deleteActivity(activity.activityID, $event)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            <span class="activitynames">{{activity.activityName}}</span><br>
                            <span class="datetimes">{{activity.activityTime}}</span>
                        </li>
                    </ul>
            </td>
		</tr>
</table>
<script type="text/ng-template" id="popoverTemplate.html">
    <div class="form-group" id="formcomplete" style="width: 145px;">
        <label ng-click="$event.stopPropagation()" id="test"><input type="checkbox" ng-click="check($event, task.taskId)" ng-checked="getChecked(task.done)"><span id="markcomplete">&nbspMark Task Completed</span></label><br><br>
        <input type="submit" class="btn btn-success btn-sm" ng-click="markcomplete($event, task.taskId)" value="Save" id="completebtn">
    </div>
</script>
<script type="text/ng-template" id="editActivity.html">
</script>
<script type="text/ng-template" id="weeklyModal.html">
	<div class="modal-header">
        <h3>{{originalDate}} at {{starttime}}</h3>
    </div>
    <div class="modal-body">
    <div class="form-group">
        <form>
        	<label for="taskName">Task name:</label>
        	<input type="text" name="taskName" id="taskName" class="form-control" placeholder="Enter task name" ng-model="taskname"><br>
            <div class="form-group">
            <label>Type:</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="urgent" ng-model="type.name">&nbsp<span class="urgent">Urgent&nbsp&nbsp<i class="fa fa-star" aria-hidden="true"></i></span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="important" ng-model="type.name">&nbsp<span class="important">Important&nbsp&nbsp<i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="type" value="normal" ng-model="type.name">&nbsp<span class="normal">Normal&nbsp&nbsp<i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
                    </label>
                </div>
            </div>
        	<input type="hidden" name="taskdate" id="taskdate" class="form-control" data-ng-model="taskdate">
        	<input type="hidden" name="startTime" id="startTime" class="form-control" ng-model="starttime">
        	<label id="duration">Duration:</label><br>
            <div class="col-md-5">
        	<div class="input-group">    
        		<span class="input-group-addon" ng-click="subDuration()" id="sizing-addon2"><i class="glyphicon glyphicon-minus"></i></span>
                <input type="text" id="durationHour" class="form-control" ng-model="durationDisplay" aria-describedby="sizing-addon2">
                <span class="input-group-addon" ng-click="addDuration()" id="sizing-addon2"><i class="glyphicon glyphicon-plus"></i></span>
			</div></div><br><br>
        </form>
    </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="saveTask()" id="save">Save</button>
        <button class="btn btn-warning" ng-click="cancel()" id="cancel">Close</button>
    </div>
</script>